.report{
  padding-top: 112px;
  display: flex;
  justify-content: space-between;


  .left {
      width: 15%;
      padding-top: 30px;
  
      .content {
        background-color: white;
        width: 100%;
        margin: 0;
        height: 598px;
        border-radius: 5px;
        overflow: hidden;
        background: linear-gradient(217deg, rgba(255, 255, 255, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
            linear-gradient(336deg, rgba(135, 239, 250, 0.51), rgba(0, 0, 255, 0) 70.71%);
  
        li {
          list-style: none;
          padding: 10px;
          font-size: 17px;
          cursor: pointer;
          position: relative;
  
          i {
            margin-right: 10px;
            color: blue;
          }
  
          &:hover {
            background-color: #0fa1ef;
            color: white;
          }
  
          span {
            position: relative;
            left: 0;
            transition: left 0.2s linear;
          }
  
          &:hover span {
            left: 5px;
          }
  
          ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #0fa1ef;
            margin: 0;
            width: 100%;
            padding: 0;
  
            li {
              padding: 5px;
              padding-left: 35px;
              font-size: 15px;
  
              &:hover {
                background-color: #83c5f9cc;
              }
  
              span {
                position: relative;
                left: 0;
                transition: left 0.2s linear;
              }
  
              &:hover span {
                left: 5px;
              }
            }
          }
  
          &:hover .ul-link {
            display: block;
          }
        }
      }
    }
  .right{
    width: 85%;
    padding: 0 20px;
    .list-user {
        height: 377px;
    
        .table-list {
    
          table {
    
            border: 1px solid #cccc;
    
            thead {
              tr {
                background-color: blue;
                color: white;
    
                th {
                  text-align: left;
                  padding-left: 10px;
                }

                .datereport{
                  width: 210px;
                  padding-left: 10px;
                  text-align: left;
                }
              }
            }
    
            tbody {
              tr {
                th {
                  text-align: center;
                }
    
                td {
                  text-align: left;
                  padding: 0;
    
                  p {
                    margin: 0;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                  }
    
                }
    
                .tdstt {
                  text-align: center;
                  padding: 0;
    
                  p {
                    margin: 0;
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 0;
                  }
                }
    
                .tdphone {
                  text-align: center;
                  width: 150px;
                  padding: 0;
    
                  p {
                    text-align: center;
                    padding: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                  }
                }
    
                .action {
                  p {
                    display: flex;
                    justify-content: left;
                    align-items: center;
    
                    img {
                      width: 25px;
                      margin-left: 10px;
                      cursor: pointer;
                    }
    
                    .btn-delete {
                      margin-left: 5px;
                    }
                  }
    
                }
              }
    
              .null {
                color: red;
                font-size: italic;
              }
            }
          }
        }
      }
  }
}

.modal-report{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0 ;
  background-color: #8f727229;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  .content-rpt{
    width: 40%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;

    .btn-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-top: 20px;
        .btn-secondary{
          margin-left: 10px;
        }

        .btn-danger{
          margin-right: 10px;
        }
      }
    .content-rpt-row{

      display: flex;
      flex-wrap: wrap;

      .listuserreport{
        width: 100%;
        padding: 5px;
        .name{
          padding: 5px 0;
          a{
            color: blue;
            cursor: pointer;
          }
        }
        img{
          width: 100%;
          height: 150px;
        }
      }

      
    }
  }
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0 ;
  background-color: #8f727229;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading-spinner {
      border: 8px solid #f3f3f3;
      /* Light grey */
      border-top: 8px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      margin: 50px auto;
      /* Center the spinner */
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }
}