.report{
  padding: 200px;
  padding-top: 120px;


  .report-content{
    margin-top: 20px;
    padding: 10px;

    .listreportnew{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .item{
      padding: 10px 25px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 30px;box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      &:hover{
        background-color: #d7d7ff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }
      .name{
        font-size: 18px;
        font-weight: bold;
        span{
          font-size: 14px;
          font-weight: 400;
          margin:0 10px;
        }
      }
    }
  }
}