.top_image{
    position: fixed;
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 30%;
}

.header{
    height: 120px;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .header_container{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        height: 100%;
        background-color: white;
        border-radius: 5px;
        .header_container-top{
            display: flex;
            height: 80px;
            .left{
                img{
                    width: 110px;
                    height: 80px;
                }
            }
            .right{
                margin-left: 20px;

                .top{
                    font-size: 25px;
                    font-weight: bold;
                    padding: 6px 0;
                    padding-bottom: 0;
                }
                .down{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .header_container-bottom{
            width: 100%;
            background-color: #009d0b;
            height: calc(100% - 80px);

            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                display: flex;
                justify-content: left;
                align-items: center;

                .iconserach{
                    border: none;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    padding-left: 20px;
                    width: 250px;
                    position: relative;

                    .ulsearch{
                        display: block;
                        width: 100%;
                        li{
                            padding: 0 5px;
                            padding-bottom: 5px;
                            width: 100%;
                            font-size: 16px;
                            font-weight: 300;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            height: 25px;
                            overflow: hidden;
                            &:hover{
                                color: white;
                            }
                        }
                    }

                    input{
                        width: 250px;
                        border: none;
                        border-radius: 2px;
                        border-bottom: 1px solid#ccc;
                        outline: none;
                        background-color: transparent;
                        padding: 0 15px;
                        padding-left: 5px;
                        color: white;

                    }

                    i{
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }


                .li-home{
                    width: 50px;
                    i{
                        font-size: 20px;
                        margin: 0;
                    }
                }
                li{
                    height: 95%;
                    width: 140px;
                    text-align: center;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border-right: 1px solid white;
                    color: white;
                    font-weight: bold;
                    position: relative;
                    cursor: pointer;
                    justify-content: center;
                    &:hover ul{
                        display: block;
                    }
                    i{
                            font-size: 14px;
                                margin-left: 4px;
                    }

                    ul{
                        position: absolute;
                        display: none;
                        top: 100%;
                        left: 0;
                        background-color: white;
                        padding: 0;
                        margin: 0;
                        li{
                            color: black;
                            padding: 5px;
                            width: 180px;
                            cursor: pointer;
                            text-align: left;
                            display: block;
                            &:hover{
                                background-color: #0480c1;
                            }
                            span{
                                position: relative;
                                left: 0;
                                transition: left 0.2s linear;
                            }
                            &:hover span{
                                left: 5px;
                                color: white;
                            }
                        }
                    }
                }
            }
            .right{
                height: 100%;
                li{
                    width: 100px;
                    list-style: none;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img{
                        height: 90%;
                        width: 40px;
                        border-radius: 50%;
                    }

                    &:hover ul{
                        display: block;
                    }

                    ul{
                        display: none;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        background-color: white;
                        padding: 0;
                        margin: 0;
                        li{
                            cursor: pointer;
                            &:hover{
                                background-color: #0480c1;
                                color: white;
                            }

                        }
                    }
                }
            }
        }
    }   
}

.cat_content{
    width: 100%;
    margin-top: 20px;

    li{
        margin-bottom: 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        left: 0;
        transition: left 0.2s linear;
        padding: 5px;
        border-radius: 5px;

        &:hover{
            left: 5px;
            color: blue;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
        img{
            width: 30%;
            height: 130px;
            border-radius: 5px;
        }
        .name{
            width: 70%;
            padding: 0 10px;
            font-size: 20px;
            font-weight: bold;
            margin-left: 10px;
            
        }
    }
}


.login-user{
    padding: 0 100px;
    .login-user-content{
        padding-top: 122px;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        .form-content{
            width: 35%;
            padding: 10px 20px;
            background-color: white;
            border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            .form-group{
                width: 100%;
                input{
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }

            .btn-submit{
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .logintosignup{
                text-align: center;
                font-size: 12px;

                
                span{
                    color: blue;
                    cursor: pointer;
                }
            }
        }
    }
}

.signup{
    padding: 0 100px;
        .signup-content {
            padding-top: 122px;
                height: 100vh;
            
                display: flex;
                justify-content: center;
                align-items: center;

                .dieukhoan {
                        font-size: 12px;
                    }
    .form-content{
        width: 50%;
        padding: 10px 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        .form{
            display: flex;
            justify-content: space-between;
            .form-group {
                    width: 50%;
                    padding: 5px;
                    input{
                        width: 100%;
                    }
                }
        }

        .form-image{
            display: flex;
            justify-content: space-between;
            .form-image-left{
                width: 50%;
                .form-group{
                    width: 100%;
                    padding: 5px;
                    margin-top: 0 10px;
                    input{
                        width: 100%;
                    }
                }
            }

            .form-image-right{
                position: relative;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .reviewImage{
                    border: 1px solid black;
                    width: 40%;
                    height: 100px;
                    border-radius: 100%;
                    background-position: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                label{
                    position: absolute;
                    top: 50%;
                    left: 38%;
                }
            }
        }
                .btn-submit {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
        
                .logintosignup {
                    text-align: center;
                    font-size: 12px;
        
                    span {
                        color: blue;
                        cursor: pointer;
                    }
                }
    }
   }
}



.manage_container{
    padding: 0 100px;
    padding-top: 130px;
    
    .manage_container-content{
        
        .profile{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: white;
            border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            .left{
                width: 60%;
                .top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    position: relative;
                    img{
                        width: 40%;
                        height: 240px;
                        border-radius: 50%;
                    }

                    position: relative;

                    label{
                            cursor: pointer;
                            margin-top: 10px;
                    }

                    span{
                        position: absolute;
                        top: 10px;
                        right: 30px;
                        img{
                            width: 20px;
                                height: 20px;
                                border: 1px solid #cccc;
                                padding: 2px;
                                cursor: pointer;
                        }
                    }
                }

                .down{
                    width: 100%;
                    margin-top: 10px;
                    display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .btn-submit {
                                margin-top: 10px;
                                margin-bottom: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        .form-group{
                            width: 70%;
                            text-align: center;
                            font-size: 17px;
                            display: flex;

                            &.bio{
                                display: flex;
                                flex-direction: column;
                                textarea{
                                    width: 100%;
                                    padding: 10px;
                                }

                            }
                            label{
                                width: 25%;
                                text-align: left;
                            }
                            input {
                                flex: 1;
                                    padding: 0 10px;
                                    border: none;
                                    outline: none;

                            
                                }
                                .email{
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 1;
                                        height: 100%;
                                    }
                            
                                
                        }
                }
            }

            .right{
                width: 40%;
                padding: 10px ;
                b{
                    font-size: 16px;
                }

                .listseepost{
                    height: 150px;
                    overflow: auto;
                    li{
                        cursor: pointer;
                        list-style: none;
                        display: block;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        line-height: 30px;
                        height: 30px;
                        overflow: hidden;
                        &:hover{
                            color: blue;
                        }

                        img{
                            width: 15px;
                            height: 20px;
                        }
                    }
                }
            }
        }

        .homepage{
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            .left{

                &.post{
                    padding: 10px 20px;
                }
                width: 70%;
                margin-right: 5px;
                border-radius: 2px;
                padding: 10px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    background-color: white;
                .slider{
                    width: 100%;
                    position: relative;
                    height: 390px;
                    border-radius: 5px;
                    img{
                        background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 100%;
                            height: 100%;
                    }

                    .name{
                        width: 100%;
                        text-align: center;
                        cursor: pointer;
                        position: absolute;
                            top: 40%;
                            left: 0%;
                            padding: 0 20px;
                            font-size: 20px;
                            font-weight: bold;
                                color: white;
                                    background: linear-gradient(178deg, #4100ff, transparent);
                    }

                    
                }

                .post-name{
                    font-size: 20px;
                    font-weight: bold;
                    text-indent: 20px;
                }

                .post-image{
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center ;
                    img{
                        border-radius: 5px;
                        width: 60%;
                    }
                }

                .post-infor{
                    .post-id{
                        font-size: 12px;
                    }

                    .cat-id{
                        cursor: pointer;
                        background-color: #009d0b;
                            padding: 2px 5px;
                            font-size: 14px;
                            color: white;
                            border-radius: 2px;
                            margin-left: 20px;
                            position: relative;
                            .dot{
                                    width: 8px;
                                        height: 8px;
                                        background-color: white;
                                        border: 1px solid #cccc;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 6px;
                                        left: -7px;
                            }
                            &::before{
                                position: absolute;
                                top: 0;
                                left: -13px;
                                    content: '';
                                    border-top: 11px solid transparent;
                                    border-bottom: 10px solid transparent;
                                    border-right: 14px solid #009d0b;
                            }
                    }
                }

                .post-date{
                    display: flex;
                    .date{
                        font-size: 12px;
                    }

                    .like{
                        font-size: 12px;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }

                .post-content{
                    margin-top: 10px;
                    .content-p{
                        p {
                            display: flex;
                                img {
                                    margin: 0 auto;
                                    width: 60%;
                                }
                                
                            }
                    }
                    
                }

                .cmt{
                    width: 100%;
                    margin-top: 10px;
                    &.cmt_s{
                        height: 170px;
                        overflow: hidden;
                    }

                    
                    .post-comment-content {
                            width: 100%;
                    
                            .comment-main {
                                width: 100%;
                                display: flex;
                    
                                img {
                                    width: 7%;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                    
                                .comment-main-content {
                                    margin-left: 10px;
                    
                                    .comment-main-content-top {
                                        background-color: #dbdbdb;
                                        padding: 5px 10px;
                                        border-radius: 15px;
                                    }
                    
                                    .comment-main-content-bottom {
                                        padding: 5px 10px;
                                        span{
                                            padding: 5px;
                                            transform: translateY(-1px);
                                        }
                                    }
                                }
                    
                            }
                    
                            .repcomment {
                                width: 100%;
                                display: flex;
                                margin-left: 60px;
                    
                                img {
                                    width: 7%;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                    
                                .comment-main-content {
                                    margin-left: 10px;
                    
                                    .comment-main-content-top {
                                        background-color: #dbdbdb;
                                        padding: 5px 10px;
                                        border-radius: 15px;
                                    }
                    
                                    .comment-main-content-bottom {
                                        padding: 5px 10px;
                                        span{
                                            padding: 5px;
                                        }
                                    }
                                }
                            }
                        }
                }
                .see_close{
                        cursor: pointer;
                        font-size: 12px;
                        text-align: left;
                    }

                    .text-comment{
                        width: 100%;
                        border: 1px solid #cccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 30px;
                        padding: 5px;

                        input{
                            width: 60%;
                            padding: 5px 10px;
                            border-radius: 30px;
                        }
                        i{
                            margin-left: 10px;
                            font-size: 18px;
                            color: #4100ff;
                        }
                    }
            }
            .right{
                z-index: 100;
                height: 100%;
                     width: 30%;
                border-radius: 2px;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                
                .new{
                    padding: 10px;
                    padding-bottom: 0;
                    li {
                            list-style: none;
                            p{
                                position: relative;
                                left: 0;
                                transition: left 0.2s linear;
                            }
                            &:hover p{
                                left: 5px;
                                color: blue;
                                cursor: pointer;
                            }
                        }
                }

                .tb{
                    border-top: 3px solid red;
                    .thongbao {
                        padding: 0 10px;
                        width: 105px;
                        &.post{
                            width: 137px;
                        }
                            background-color: red;
                            color: white;
                            font-weight: bold;
                            position: relative;
                     
                        &::before{
                                display: block;
                                    position: absolute;
                                    top: -2px;
                                    right: -14px;
                                    content: '';
                                    border-left: 0 solid transparent;
                                    border-right: 15px solid transparent;
                                    border-top: 23px solid red;
                        }
                    }

                }

                .see{
                    padding: 10px;
                    padding-top: 0;
                    font-size: 12px;
                    text-align: right;
                    span{
                        left: 0;
                        position: relative;
                        transition: left 0.2s linear;
                        &:hover{
                            left: 5px;
                            color: blue;
                            cursor: pointer;
                        }
                    }
                }
            
            }
        }

        .homepage-content{
            width: 100%;
            margin-top: 10px;
            border-radius: 3px;
            display: flex;
            flex-wrap: wrap;

            .homepage-content-item{
                width: calc(100% / 3);
                margin-bottom: 20px;

                .top{
                    width: 95%;
                    border-top: 2px solid red;
                    span{
                        background: red;
                        font-weight: bold;
                        color: white;
                        padding: 4px 10px;
                    }
                }

                .down{
                    margin-top: 10px;
                    .down-content{
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            color: blue;
                        }
                        display: flex;
                        margin-top: 10px;
                        padding-right: 20px;
                        cursor: pointer;
                        justify-content: space-between;
                        height: 100%;
                        .name{
                            p{
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 4;
                                overflow: hidden;
                                height: 100px;
                            }
                            width: 60%;
                            margin-left: 10px;
                                font-size: 16px;
                                text-align: justify;
                        }
                        img{
                            width: 40%;
                            height: 114px;
                        }
                    }
                }
            }
        }


        .nhiemky{
            background-color: white;
            margin-bottom: 20px;
            .menber {
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
            
                    img {
                        width: 220px;
                        height: 250px;
                        border-radius: 50%;
                        margin: 10px auto;
                    }
            
                    .name {
                        font-size: 17px;
                        padding: 5px 10px;
                    }
                }
        }


        .lienhe{
            padding: 20px;
            border-radius: 5px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            .left{
                width: 60%;
                p{
                    text-align: center;
                    font-weight: 600;
                }

                .top{
                    margin-top: 30px;
                }

                .form-group{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    textarea{
                        height: 150px;
                    }
                    
                }

                .btn-submit{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                }
            }

            .right{
                width: 40%;
                img{
                    width: 100%;
                }
                
            }
        }
    }
}


.footer{
    padding: 0 100px;
    margin-top: 10px;

    .footer-content {
        border-radius: 5px;
        background-color: #b1b1b112;
        p{
            text-align: center;
            padding: 10px;

        }
    .top{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
        
                .left {
                    width: 15%;
        
                    img {
                        width: 100%;
                    }
                }
        
                .right {
                    width: 25%;
                    margin-left: 20px;
                    font-size: 17px;
        
                    p {
                        margin: 0;
                        padding: 5px;
                        text-align: left;
        
                        img {
                            width: 20px;
                        }
                    }
                }
            }
    }
}


.form-report{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: #00000029;

    display: flex;
    justify-content: center;
    align-items: center;
    .form-report-content{
        width: 40%;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: white;
        .name{
            font-size: 18px;
            color: blue;
            padding: 10px;
        }

        .form-group{
            textarea{
                width: 100%;
                height: 100px;
            }
            label{
                display: block;
            }

            img{
                width: 100%;
                height: 200px;
            }
            &.image{
                margin: 10px 0;
            }
        }
        .btn-submit{
            display: flex;
            justify-content: center;
            margin: 20px;
            .btn-cancel{
                margin-left: 10px;
            }
        }
    }
}


.chatbox{
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 1000;
    width: 350px;
    height: 530px;
    iframe{
        height: 100%;
    }
    span{
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 18px;
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        padding: 0 8px;
    }
}

.iconchat{
    position: fixed;
        right: 30%;
        bottom: 12%;
    width: 50px;
    height: 50px;
    img{
        width: 100%;
        height: 100%;
    }
}


.formgooglepost{
position: fixed;
    bottom: 22%;
    right: 30%;
    width: 80px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    color: blue;
    cursor: pointer;
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: white;
        img{
            width: 100%;
            height: 100%;
        }
}


.formanswer{
    background-color: #f0ebf8;
    width: 100%;
    display: flex;
    z-index: 1000;
    padding: 30px 0;
    .formanswer-content{
        width: 50%;
        margin: auto;
        z-index: 1000;
        
        .formanswer-content-top{
            background-color: white;
          padding: 20px;
            border-radius: 5px;
            text-align: justify;

            border-top: 5px solid #673ab7;
            .name{
                font-size: 20px;
                font-weight: bold;
                border-bottom: 1px solid #cccc;
                padding-bottom: 10px;
            }
            textarea{
               
               z-index: 100;
                width: 100%;
                height:auto;
                border: none;
                border-bottom:1px solid #cccc;
                    outline: none;

            }

            .email{
                padding-top: 10px;
                a{
                    text-decoration: none;
                }
            }
        }

        .formanswer-content-bottom{
            margin-top: 10px;

            .question{
                background-color: white;
                border-radius: 5px;
                margin-bottom: 10px;
                padding: 20px;
                .name{
                    font-size: 20px;
                }
                .desc{
                    font-size: 14px;
                    font-style: italic;
                    color: red;
                }

                .answer{
                    width: 100%;
                    margin-top: 10px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #cccc;
                }
            }
        }
    }
}


.sendform{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-cancel{
        margin-left: 10px;
    }
}

.formSuccess{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000029;
    display: flex;
    justify-content: center;
    z-index: 1100;
    padding: 20px;

    .formSuccess-content{
        width: 50%;
            background-color: white;
            border-radius: 5px;
            border-top: 5px solid #673ab7;
            padding: 25px;
            height: 145px;
            p{
                margin: 0;
                margin-bottom: 5px;
            }
            div{
                margin-top: 10px;
            }
    }
}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8f727229;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-spinner {
            border: 8px solid #f3f3f3;
            /* Light grey */
            border-top: 8px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
            margin: 50px auto;
            /* Center the spinner */
        }
    
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
}