.cat{
    span{
        color: red;
        font-size: italic;
    }
    .cat-content{
        width: 100%;
        height: 60px;
        border-radius: 100px;
        margin-top: 15px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        display: flex;
        justify-content: space-between;
            
            
            .content-left{
                
            transition: left 0.2s linear;
            position: relative;
                left: 0;
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 50px;
            font-size: 20px;
            font-weight: bold;
            display: -webkit-box;
                height: 30px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
        
        }

                &:hover .content-left {
                    left: 10px;
                    color: red;
                }

                &:hover  {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                }
        .content-right{
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .btn-delete{
                margin-left: 10px;
            }
        }
    }
}


.form-add-cat{
    display: flex;
    justify-content: center;
    form{
        width: 50%;
        input{
            width: 100%;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #ccc;
            margin-top: 10px;
            padding: 0 10px;
        }

        .button-sumit{
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }
}


.tunure{
    .name-nhiemky{
        color: blue;
        font-size: 18px;
    }
}

.menber{
    margin-bottom: 50px;
    .nameposition{
        text-align: center;
        color: blue;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
    }
    .position-content{
        width: 50%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;

        

        img{
            width: 250px;
                height: 300px;
                margin: 0 auto;
                border-radius: 50%;
                border: 3px solid white;
        }

        text-align: center;
        font-size: 17px;

        .label_upload-img{
                transform: translateY(-150px);
            }
        .name{
            display: flex;
            margin-top: 10px;
            justify-content: center;

            &.label{
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            .label{
                width: 21%;
                text-align: left;
            }
            
            

            label{
                display: block;
                    width: 565px;
                    margin: 0 auto;
                    text-align: left;
            }

            textarea {
                            width: 564px;
                            background: transparent;
                            border: 1px solid #cccc;
                            padding: 5px;
                            border-radius: 5px;
                            resize: none;
                            transform: translateX(2px);
            }
            
            input {
                            width: 60%;
                            background-color: transparent;
                            border: 1px solid #cccc;
                            padding-left: 60px;
                            pointer-events: all;
                        }

        }
        .btn-sumit{
            margin: 10px;
            .btn-delete{
                margin-left: 10px;
            }
        }


                &.screen {
                    textarea {
                            width: 564px;
                            background: transparent;
                            border: 1px solid #cccc;
                            padding: 5px;
                            border-radius: 5px;
                            pointer-events: none;
                            resize: none;
                            transform: translateX(2px);
                        }
                        input{
                            width: 60%;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            pointer-events: none;
                            padding-left: 60px;
                            font-weight: bold;
                        }
                }
    }

    .btn-add{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}