.manage{
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
.left{
    width: 15%;
    padding: 30px 0;
    .content {
        background-color: white;
        width: 100%;
        margin: 0;
        height: 550px;
        border-radius: 5px;
        overflow: hidden;
        li {
                list-style: none;
                padding: 10px;
                font-size: 17px;
                cursor: pointer;
                position: relative;
        
                i {
                    margin-right: 10px;
                    color: blue;
                }
        
                &:hover {
                    background-color: #0fa1ef;
                    color: white;
                }
        
                span {
                    position: relative;
                    left: 0;
                    transition: left 0.2s linear;
                }
        
                &:hover span {
                    left: 5px;
                }

                ul{
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #0fa1ef;
                    margin: 0;
                    width: 100%;
                    padding: 0;
                    li{
                        padding: 5px;
                        padding-left: 35px;
                        font-size: 15px;
                        &:hover{
                            background-color: #83c5f9cc;
                        }
                        span{
                            position: relative;
                            left: 0;
                            transition: left 0.2s linear;
                        }
                        &:hover span{
                            left: 5px;
                        }
                    }
                }

                &:hover .ul-link {
                    display: block;
                }
            }
    }
}
    .right {
        width: 85%;
        padding: 40px;
        .search {
                width: 100%;
                height: 50px;
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
        
                .form-search {
                    border: 1px solid black;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-radius: 30px;
                    overflow: hidden;
        
                    i {
                        position: absolute;
                        top: 13px;
                        right: 10px;
                        font-size: 20px;
                    }
        
                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        padding: 0 20px;
                        padding-right: 35px;
                    }
        
                }
        
        
            }

            .list-user{
                height: 377px;

                .table-list {
            
                    table {
            
                        border: 1px solid #cccc;
            
                        thead {
                            tr {
                                background-color: blue;
                                color: white;
            
                                th {
                                    text-align: left;
                                    padding-left: 10px;
                                }
            
                                .stt {
                                    text-align: center;
                                    width: 30px;
                                    padding-left: 5px;
                                }
            
                                .phone {
                                    text-align: center;
                                    padding-left: 5px;
                                }
                            }
                        }
            
                        tbody {
                            tr {
                                th {
                                    text-align: center;
                                }
            
                                td {
                                    text-align: left;
                                    padding: 0;
            
                                    p {
                                        margin: 0;
                                        height: 50px;
                                        display: flex;
                                        align-items: center;
                                        padding-left: 10px;
                                    }
            
                                }
            
                                .tdstt {
                                    text-align: center;
                                    padding: 0;
            
                                    p {
                                        margin: 0;
                                        width: 100%;
                                        height: 50px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding-left: 0;
                                    }
                                }
            
                                .tdphone {
                                    text-align: center;
                                    width: 150px;
                                    padding: 0;
            
                                    p {
                                        text-align: center;
                                        padding: 0;
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
            
                                .action {
                                    p {
                                        display: flex;
                                        justify-content: left;
                                        align-items: center;
            
                                        img {
                                            width: 25px;
                                            margin-left: 10px;
                                            cursor: pointer;
                                        }
            
                                        .btn-delete {
                                            margin-left: 5px;
                                        }
                                    }
            
                                }
                            }
            
                            .null {
                                color: red;
                                font-size: italic;
                            }
                        }
                    }
                }
            }
        
        
        
        
            .btn-add {
                width: 100%;
                margin-top: 20px;
                margin-bottom: 5px;
            }
    }
}










.form-add{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 493px;

    form{
        width: 100%;
        padding: 15px 10px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        flex-wrap: wrap;
        .form-group{
            display: flex;
            justify-content: left;
            flex-direction: column;
            width: 50%;
            padding: 0 10px;
            input {
                width: 100%;
                font-size: 16px;
                padding: 2px 5px;
            }
        }

        .form-group-botom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .left{
                width: 50%;

                .form-group{
                    width: 100%;
                    margin-bottom: 10px;
                }

                .form-phone-position{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                textarea{
                    height: 100px;
                    padding: 5px;
                }
            }

            .right{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                .reviewImage {
                        height: 247px;
                        width: 50%;
                        border-radius: 5px;
                        background-position: top;
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .label_upload-img{
                        position: absolute;
                        top: 42%;
                        left: 42%;
                    }
            }
        }

        .button-sumit{
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8f727229;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-spinner {
        border: 8px solid #f3f3f3;
        /* Light grey */
        border-top: 8px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        margin: 50px auto;
        /* Center the spinner */
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}