.manage{
    padding-top: 120px;

    .search{
        width: 100%;
        height: 50px;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .form-search{
            border: 1px solid black;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            i{
                position: absolute;
                top: 13px;
                    right: 10px;
                    font-size: 20px;
            }
            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                padding: 0 20px;
                padding-right: 35px;
            }

        }

        
    }
    
    .table-list{

        height: 380px;
        overflow: auto;
        table {
                thead {
                    tr {
                        background-color: blue;
                        color: white;
        
                        th {
                            text-align: center;
                        }
                    }
                }
        
                tbody {
                    tr {
                        td {
                            text-align: center;
                        }
        
                        .action {
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            .btn-delete {
                                margin-left: 5px;
                            }
        
                        }
                    }
        
                    .null {
                        color: red;
                        font-size: italic;
                    }
                }
            }
    }

        

    .btn-add{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

.form-add{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        width: 70%;
        border: 1px solid black;
        padding: 15px 10px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
        .form-group{
            display: flex;
            justify-content: left;
            flex-direction: column;
            width: 50%;
            padding: 0 10px;
            input {
                width: 100%;
                font-size: 16px;
                padding: 2px 5px;
            }
        }

        .form-group-botom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .left{
                width: 50%;

                .form-group{
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            .right{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                .reviewImage {
                        border: 1px solid black;
                        height: 160px;
                        width: 50%;
                        border-radius: 5px;
                        background-position: center;
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }

                    .label_upload-img{
                        position: absolute;
                        top: 42%;
                        left: 42%;
                    }
            }
        }

        .button-sumit{
            width: 100%;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}