.cat{
    height: 376px;
    overflow: auto;

    span{
        color: red;
        font-size: italic;
    }
    .cat-content{
        width: 100%;
        height: 60px;
        border-radius: 100px;
        margin-top: 15px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        display: flex;
        justify-content: space-between;
            
            
            .content-left{
            transition: left 0.2s linear;
            position: relative;
                left: 0;
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 50px;
            font-size: 20px;
            font-weight: bold;
            
        
        }

                &:hover .content-left {
                    left: 10px;
                    color: red;
                }

                &:hover  {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                }
        .content-right{
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .btn-delete{
                margin-left: 10px;
            }

                   .btn-edit {
                       margin-left: 10px;
                   }
        }
    }
}


.form-add-cat{
    display: flex;
    justify-content: center;
    form{
        width: 50%;
        input{
            width: 100%;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #ccc;
            margin-top: 10px;
            padding: 0 10px;
        }

        .button-sumit{
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }
}


.Addpost{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .addpost-content{
        border: 1px solid black;
        width: 80%;
        height: 550px;
        padding: 10px;

        .top{
            display: flex;
            justify-content: space-between;

            .form-group{
                width: calc(100% / 3);
                display: flex;
                flex-direction: column;
                padding: 5px;
                input{
                    padding: 5px 10px;
                }

                &.image{
                    display: flex;
                }
            }
        }

        .down{
            padding: 5px;
        }

        .button-sumit{
            display: flex;
            justify-content: center;
        }
    }
}


.postinfor{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    .postinfor-content{
        width: 60%;
        border-radius: 8px;
        padding: 20px;
        background-color: white;
        height: 100%;

        .postinfor-title{
            .name{
                font-size: 20px;
                font-weight: bold;
                text-align: justify;
                    text-indent: 25px;
                    margin: 0;

                    
            }

            .cat{
                i{
                    margin-right: 5px;
                    font-size: 12px;
                }
                height: 100%;
                span {
                        background-color: #00ff08;
                        font-size: 13px;
                        color: black;
                        padding: 3px 7px;
                        border-radius: 3px;
                        position: relative;
                        margin-left: 13px;
                        color: white;
                        font-weight: bold;
                
                        &::before {
                            content: '';
                            content: '';
                            position: absolute;
                            top: 0;
                            left: -12px;
                            width: 11px;
                            height: 100%;
                            border-top: 10px solid transparent;
                            border-bottom: 11px solid transparent;
                            border-right: 13px solid #00ff08;
                
                        }
                
                        &::after {
                            content: '';
                            width: 8px;
                            height: 8px;
                            background-color: white;
                            position: absolute;
                            top: 6px;
                            left: -4px;
                            border-radius: 50%;
                        }
                    }
            }

            .date{
                font-size: 12px;
            }

            .like{
                font-size: 12px;
                margin-left: 10px;
            }

            .img{
                margin: 0;
                width: 100%;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                img{
                    width: 60%;

                    height: auto;
                    border-radius: 10px;
                }
            }

            .content-p{
                text-align: justify;
                margin-top: 15px;
                p{
                    margin: 0;
                    display: flex;
                    img{
                        margin: 0 auto;
                        width: 60%;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }

            
            
        }
.open-close {
    cursor: default;
    margin-left: 10px;
    font-size: 12px;
    
}
        .post-comment{
            width: 100%;
            height: 180px;
            overflow: hidden;
            &.see{
                height: 100%;
            }

            
            .post-comment-content {
                    width: 100%;
                    margin-top: 10px;
            
                    .comment-main {
                        display: flex;
                        justify-content: left;
            
                        img {
                            width: 7%;
                            height: 50px;
                            background-size: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            border-radius: 50%;
            
            
                        }
            
                        .comment-main-content {
                            display: flex;
                            flex-direction: column;
                            margin-left: 15px;
            
                            .comment-main-content-top {
            
                                background-color: #f0f2f5;
                                padding: 0 10px;
                                border-radius: 10px;
            
                                .name {
                                    font-weight: bold;
                                }
                            }
            
                            .comment-main-content-bottom {
                                display: flex;
                                justify-content: left;
                                font-size: 14px;
                                margin-top: 3px;
            
                                span {
                                    margin-right: 20px;
                                }
                            }
                        }
            
                    }
            
                    .comment-rep {
                        margin-left: 60px;
                        margin-top: 10px;
            
                        li {
                            display: flex;
                            justify-content: left;
                            margin-top: 10px;
            
                            img {
                                width: 7%;
                                height: 50px;
                                background-size: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                border-radius: 50%;
            
                            }
            
                            .comment-main-content {
                                display: flex;
                                flex-direction: column;
                                margin-left: 15px;
            
                                .comment-main-content-top {
            
                                    padding: 0 10px;
                                    border-radius: 10px;
                                    background-color: #f0f2f5;
            
                                    .name {
                                        font-weight: bold;
                                    }
                                }
            
                                .comment-main-content-bottom {
                                    display: flex;
                                    justify-content: left;
                                    font-size: 14px;
                                    margin-top: 3px;
            
                                    span {
                                        margin-right: 20px;
                                    }
                                }
                            }
            
                        }
                    }
                }
        }

    }
}