.cat{
    span{
        color: red;
        font-size: italic;
    }
    .cat-content{
        width: 100%;
            height: 70px;
            border-radius: 100px;
            margin-top: 6px;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            
            
            .content-left{
                
            transition: left 0.2s linear;
            position: relative;
                left: 0;
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 50px;
            font-size: 20px;
            font-weight: bold;

            &.cat-post-item{
                display: flex;
                justify-content: left;
                flex-direction: column;
                align-items: center;
                height: 100%;
                .top{
                    width: 100%;
                    p{
                        content: "";
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        height: 25px;
                        overflow: hidden;
                        margin: 0;
                    }
                }
                .bottom{
                    width: 100%;
                    font-size: 12px;
                    font-weight: 300;
                }
            }

            
        
        }

                &:hover .content-left {
                    left: 10px;
                    color: red;
                }

                &:hover  {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                }
        .content-right{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            &.form{
            justify-content: right;
            margin-right: 40px;
            }
            img{
                width: 25px;
                margin-right: 10px;
            }

            .btn-delete{
                margin-left: 10px;
            }

                   .btn-edit {
                       margin-left: 10px;
                   }
        }
    }
}


.form-add-cat{
    display: flex;
    justify-content: center;
    form{
        width: 50%;
        input{
            width: 100%;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #ccc;
            margin-top: 10px;
            padding: 0 10px;
        }

        .button-sumit{
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }
}




.postinfor{
    padding-top: 120px;
    display: flex;
    width: 100%;
    justify-content: center;
    .left {
        position: fixed;
        top: 112px;
        left: 0;

            width: 15%;
    
            .content {
                background-color: white;
                width: 100%;
                margin: 0;
                height: 598px;
                border-radius: 5px;
                overflow: hidden;
    
                li {
                    list-style: none;
                    padding: 10px;
                    font-size: 17px;
                    cursor: pointer;
                    position: relative;
    
                    i {
                        margin-right: 10px;
                        color: blue;
                    }
    
                    &:hover {
                        background-color: #0fa1ef;
                        color: white;
                    }
    
                    span {
                        position: relative;
                        left: 0;
                        transition: left 0.2s linear;
                    }
    
                    &:hover span {
                        left: 5px;
                    }
    
                    ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #0fa1ef;
                        margin: 0;
                        width: 100%;
                        padding: 0;
    
                        li {
                            padding: 5px;
                            padding-left: 35px;
                            font-size: 15px;
    
                            &:hover {
                                background-color: #83c5f9cc;
                            }
    
                            span {
                                position: relative;
                                left: 0;
                                transition: left 0.2s linear;
                            }
    
                            &:hover span {
                                left: 5px;
                            }
                        }
                    }
    
                    &:hover .ul-link {
                        display: block;
                    }
                }
            }
        }
    .right{
        width: 100%;
        margin: 0 auto;
        padding-top: 22px;
        .postinfor-content {
            margin-left: 20%;
                width: 60%;
                border-radius: 8px;
                padding: 20px;
                background-color: white;
                height: 100%;
        
                .postinfor-title {
                    .name {
                        font-size: 20px;
                        font-weight: bold;
                        text-align: justify;
                        text-indent: 25px;
                        margin: 0;
        
        
                    }
        
                    .cat {
                        i {
                            margin-right: 5px;
                            font-size: 12px;
                        }
        
                        height: 100%;
        
                        span {
                            background-color: #00ff08;
                            font-size: 13px;
                            color: black;
                            padding: 3px 7px;
                            border-radius: 3px;
                            position: relative;
                            margin-left: 13px;
                            color: white;
                            font-weight: bold;
        
                            &::before {
                                content: '';
                                content: '';
                                position: absolute;
                                top: 0;
                                left: -12px;
                                width: 11px;
                                height: 100%;
                                border-top: 10px solid transparent;
                                border-bottom: 11px solid transparent;
                                border-right: 13px solid #00ff08;
        
                            }
        
                            &::after {
                                content: '';
                                width: 8px;
                                height: 8px;
                                background-color: white;
                                position: absolute;
                                top: 6px;
                                left: -4px;
                                border-radius: 50%;
                            }
                        }
                    }
        
                    .date {
                        font-size: 12px;
                    }
        
                    .like {
                        font-size: 12px;
                        margin-left: 10px;
                    }
        
                    .img {
                        margin: 0;
                        width: 100%;
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
        
                        img {
                            width: 60%;
        
                            height: auto;
                            border-radius: 10px;
                        }
                    }
        
                    .content-p {
                        text-align: justify;
                        margin-top: 15px;
        
                        p {
                            margin: 0;
                            display: flex;
        
                            img {
                                margin: 0 auto;
                                width: 60%;
                                height: auto;
                                margin-bottom: 10px;
                            }
                        }
                    }
        
        
        
                }
        
                .post-comment {
                    width: 100%;
        
                    .post-cs {
        
                        .not-comment {
                            color: red;
                            margin: auto;
                        }
        
                        height: 240px;
                        overflow: hidden;
                        position: relative;
        
                        &.see {
                            padding-bottom: 40px;
                            height: 100%;
                        }
        
                        .open-close {
                            cursor: default;
                            margin-left: 10px;
                            font-size: 12px;
                            position: absolute;
                            bottom: 40px;
                            right: 15%;
                        }
        
                        .text-comment {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            background-color: white;
                            border: 1px solid #cccc;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 5px;
        
                            input {
                                width: 80%;
                                height: 100%;
                                border-radius: 30px;
                                padding: 3px 10px;
                                outline: #004aff;
                                border-color: #004aff;
                            }
        
                            i {
                                font-size: 20px;
                                margin-left: 10px;
                                color: #004aff;
                            }
                        }
        
                        .cmt-p {
                            &.cmt-p-see {
                                overflow: hidden;
                            }
        
                            width: 100%;
                            padding-bottom: 5px;
        
                            .post-comment-content {
                                width: 100%;
                                margin-top: 10px;
        
                                .comment-main {
                                    display: flex;
                                    justify-content: left;
        
                                    .removecomment {
                                        flex: 1;
                                        margin-left: 10px;
        
                                        span {
                                            font-weight: bold;
                                            border: 1px solid red;
                                            padding: 0 3px;
                                            padding-bottom: 2px;
                                            border-radius: 50%;
                                            color: red;
                                            cursor: pointer;
                                        }
                                    }
        
                                    img {
                                        width: 7%;
                                        height: 50px;
                                        background-size: 100%;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        border-radius: 50%;
        
        
                                    }
        
                                    .comment-main-content {
                                        display: flex;
                                        width: 60%;
                                        flex-direction: column;
                                        margin-left: 15px;
        
                                        .comment-main-content-top {
        
                                            background-color: #f0f2f5;
                                            padding: 0 10px;
                                            border-radius: 10px;
        
                                            .name {
                                                font-weight: bold;
                                            }
                                        }
        
                                        .comment-main-content-bottom {
                                            display: flex;
                                            justify-content: left;
                                            font-size: 14px;
                                            margin-top: 3px;
        
                                            span {
                                                margin-right: 20px;
                                            }
                                        }
                                    }
        
                                }
        
                                .comment-rep {
                                    margin-left: 60px;
                                    margin-top: 10px;
        
                                    li {
                                        display: flex;
                                        justify-content: left;
                                        margin-top: 10px;
        
                                        .removecomment {
                                            flex: 1;
                                            margin-left: 10px;
        
                                            span {
                                                font-weight: bold;
                                                border: 1px solid red;
                                                padding: 0 3px;
                                                padding-bottom: 2px;
                                                border-radius: 50%;
                                                color: red;
                                                cursor: pointer;
                                            }
                                        }
        
                                        img {
                                            width: 7%;
                                            height: 50px;
                                            background-size: 100%;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            border-radius: 50%;
        
                                        }
        
                                        .comment-main-content {
                                            display: flex;
                                            width: 60%;
                                            flex-direction: column;
                                            margin-left: 15px;
        
                                            .comment-main-content-top {
        
                                                padding: 0 10px;
                                                border-radius: 10px;
                                                background-color: #f0f2f5;
        
                                                .name {
                                                    font-weight: bold;
                                                }
                                            }
        
                                            .comment-main-content-bottom {
                                                display: flex;
                                                justify-content: left;
                                                font-size: 14px;
                                                margin-top: 3px;
        
                                                span {
                                                    margin-right: 20px;
                                                }
                                            }
                                        }
        
                                    }
                                }
                            }
                        }
        
                    }
        
                }
        
            }
    }
}


.icon-form{
    width: 80px;
        height: 80px;
        background-color: white;
        position: fixed;
        bottom: 30px;
        right: 16%;
        z-index: 1000;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-radius: 50%;
        border: 4px solid #f5ecdc;
}



.formgoogle{
    padding: 0 140px;
    padding-top: 120px;
    padding-bottom: 10px;
    padding-bottom: 20px;


    .formgoogle-content-name{
        background-color: white;
        border-radius: 5px;
        padding: 5px 10px;
        border-top: 5px solid rgb(103, 58, 183);
        width: 100%;
        .name{
            &.desc{
                width: 100%;
                    border: none;
                
                    textarea {
                        width: 100%;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 5px 10px;
                        border: none;
                        outline: none;
                
                        &:focus {
                            border-bottom: 1px solid rgb(103, 58, 183);
                        }
                    }
            }
        }

        .desc{
            width: 100%;
            margin-top: 10px;
            textarea{
                padding: 5px 10px;
                width: 100%;
                border: none;
                outline: none;
            }
        }
    }

    .formgoogle-content-item{
        padding: 10px;
        border-left: 5px solid #4285f4;
        margin-top: 10px;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        .left{
            flex: 1;
            .item {
                    line-height: 18px;
            
                    input {
                        font-size: 18px;
                        width: 100%;
                        border: none;
                        outline: none;
            
                        &:focus {
                            border-bottom: 1px solid #4285f4;
                        }
            
                        &.suggestion {
                            font-size: 14px;
                            font-style: italic;
                            /* Thêm in nghiêng */
                        }
                    }
                }

            }
            .closekeyform{
                width: 5%;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                span{
                    padding: 0 5px;
                        border: 1px solid #cccc;
                        border-radius: 50%;
                        font-size: 16px;
                        cursor: pointer;
                }
            }
    }



         .formgoogle-content-item-add {
             padding: 10px;
             border-left: 5px solid #4285f4;
             margin-top: 10px;
             border-radius: 5px;
             background-color: white;
    
             .item {
                    line-height: 18px;
                    margin-bottom: 5px;
            
                    input {
                        font-size: 18px;
                        width: 100%;
                        border: none;
                        outline: none;
            
                        &:focus {
                            border-bottom: 1px solid #4285f4;
                        }
            
                        &.suggestion {
                            font-size: 14px;
                            font-style: italic;
                            /* Thêm in nghiêng */
                        }
                    }
                }
         }

    .addform{
        width: 30px;
            height: 30px;
            font-size: 30px;
            font-weight: bold;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #5f6368;
            margin-top: 10px;
            border: 2px solid #5f6368;
            cursor: pointer;
    }

}

.removeform{
    border: 1px solid black;
        width: 30px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        margin-top: 10px;
        cursor: pointer;

        &:hover{
            color: red;
            border-color: red;
        }

}


.resultform{
margin-left: 255px;
width: 80%;

    .updatetop{
        display: flex;
        justify-content: left;
        align-items: center;

        .share-up{
            margin-left: 10px;
                transform: translateY(10px);
                    padding: 7px;
                    position: relative;
        .selectshare{
            position: absolute;
            top: 30px;
            border-radius: 3px;
            left: 0;
            width: 300px;
            border: 1px solid black;
            select{
                width: 100%;
            }

            background-color: white;
            .namesahre{
                li{
                    list-style: none;
                    text-align: left;
                    padding: 5px;
                    display: block;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    height: 25px;
                    overflow: hidden;
                    position: relative;
                    span{
                            position: absolute;
                            top: 4px;
                            right: 6px;
                            border: 1px solid black;
                            border-radius: 50%;
                            padding: 0px 5px;
                            font-size: 10px;
                    }
                }
            }

        }
        }
        .updateform {
        
                margin-top: 20px;
            }
    }
    .resultform-content-item{
        display: flex;
        margin-top: 10px;
        

        .item{
            flex: 1;
            .top{
                font-weight: bold;
                display: block;
                color: white;
                padding: 5px 10px;
                width: 100%;
                background-color: #4285f4;
                border: 1px solid #cccc;

            }

            .bottom{
                display: block;
                color: black;
                padding: 5px 10px;
                width: 100%;
                border: 1px solid #cccc;
                background-color: white;

            }
        }

        .stt{
            width: 40px;
            .top{
                font-weight: bold;
                display: block;
                color: white;
                padding: 5px 10px;
                width: 100%;
                background-color: #4285f4;
                border: 1px solid #cccc;

            }

            .bottom{
                display: block;
                color: black;
                padding: 5px 10px;
                width: 100%;
                border: 1px solid #cccc;
                background-color: white;
                text-align: center;

            }
        }
    }
}

.bieumau{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    .addbieumau{
        position: fixed;
            bottom: 10%;
            right: 10%;
            border: 3px solid #0051ff;
            padding: 18px;
            border-radius: 50%;
            background: white;
    }
    .bieumau_content{
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        a{
            text-decoration: none;
        }
    }

    .openform{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;

        .openformContent{
            width: 40%;
            background-color: white;
            border-radius: 5px;
            padding: 10px 20px;

            .form-group{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                input{
                    width: 100%;
                    padding: 5px;
                }
            }

            .button-sumit{
                display: flex;
                justify-content: center;
                padding: 20px 10px 10px 10px;

                .btn-submit{
                    margin-right: 10px;
                }
            }
        }
    }
}

.date_quantity{
    margin-top: 10px;
    display: flex;
    justify-content: left;
    .date{
        width: 20%;
        display: inline-block;
        input{
            padding: 5px;
        }
        margin-right: 10px;
    }
}




.addPost{
    display: flex;
    padding-top: 112px;
    justify-content: space-between;
    .leftaddPost {
            width: 15%;
    
            .content {
                background-color: white;
                width: 100%;
                margin: 0;
                height: 598px;
                border-radius: 5px;
                overflow: hidden;
    
                li {
                    list-style: none;
                    padding: 10px;
                    font-size: 17px;
                    cursor: pointer;
                    position: relative;
    
                    i {
                        margin-right: 10px;
                        color: blue;
                    }
    
                    &:hover {
                        background-color: #0fa1ef;
                        color: white;
                    }
    
                    span {
                        position: relative;
                        left: 0;
                        transition: left 0.2s linear;
                    }
    
                    &:hover span {
                        left: 5px;
                    }
    
                    ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #0fa1ef;
                        margin: 0;
                        width: 100%;
                        padding: 0;
    
                        li {
                            padding: 5px;
                            padding-left: 35px;
                            font-size: 15px;
    
                            &:hover {
                                background-color: #83c5f9cc;
                            }
    
                            span {
                                position: relative;
                                left: 0;
                                transition: left 0.2s linear;
                            }
    
                            &:hover span {
                                left: 5px;
                            }
                        }
                    }
    
                    &:hover .ul-link {
                        display: block;
                    }
                }
            }
        }
    .rightaddPost{
        padding: 0 20px;
        width: 85%;
        margin-top: 31px;

        .Addpost-content{
            background-color: white;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .top {
                    display: flex;
            
                    .form-group {
                        width: calc(100% / 3);
                        padding-right: 20px;
            
                        label {
                            display: block;
                        }
            
                        input {
                            width: 100%;
                            padding: 6px;
                        }
                    }
                }
            
                .button-sumit {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 10px 0;
                }
        }
    }
}

.Form{
    display: flex;
    .leftForm {
        position: fixed;
        top: 112px;
        left: 0;
            width: 15%;
    
            .content {
                background-color: white;
                width: 100%;
                margin: 0;
                height: 598px;
                border-radius: 5px;
                overflow: hidden;
    
                li {
                    list-style: none;
                    padding: 10px;
                    font-size: 17px;
                    cursor: pointer;
                    position: relative;
    
                    i {
                        margin-right: 10px;
                        color: blue;
                    }
    
                    &:hover {
                        background-color: #0fa1ef;
                        color: white;
                    }
    
                    span {
                        position: relative;
                        left: 0;
                        transition: left 0.2s linear;
                    }
    
                    &:hover span {
                        left: 5px;
                    }
    
                    ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #0fa1ef;
                        margin: 0;
                        width: 100%;
                        padding: 0;
    
                        li {
                            padding: 5px;
                            padding-left: 35px;
                            font-size: 15px;
    
                            &:hover {
                                background-color: #83c5f9cc;
                            }
    
                            span {
                                position: relative;
                                left: 0;
                                transition: left 0.2s linear;
                            }
    
                            &:hover span {
                                left: 5px;
                            }
                        }
                    }
    
                    &:hover .ul-link {
                        display: block;
                    }
                }
            }
        }

        .rightForm{
            width: 85%;
            margin-left: 220px;
        }
}